body {
	background:#f7f7f7;
}

.heading {
	background:#E6E6E6;
}

.h1title{
	margin-top:10px;
	color:#1acbae;
}

.h4title {
	color:gray;
}

.svgholder {
	width:850px;
	margin:10px auto;
}

hr {
	margin:0px;
}

.project_thumbnail{
	margin:25px 25px 25px 25px;

}

.thumbnail_alt {
	margin-right: calc(50% - 80px);
	margin-left: calc(50% - 80px);
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  background:#E6E6E6;
}



.navbar{
	margin-bottom:0px;
	background:#f7f7f7;
	border:0px;

}

.navbar-nav.navbar-right:last-child {
	margin-right:0;
}

.article-header{
	border-bottom:1px solid black;
	width:80%;
	color:#17b59a;
	text-align:center;
	margin:auto auto;
}


#differentfont {

	font-family:'Overpass', sans-serif;
}


.subsection {
	width:65%;
	border-bottom:1px solid black;
	color:#17b59a;
	text-transform:underline;
	text-transform:uppercase;
}

.project_title {
	color:#17b59a;
	text-transform:uppercase;
	text-align: center;
	margin: 4px auto;
	font-weight: bold;
}

.bottomhr {
	margin-bottom:20px;
}


.divider-vertical {
height: 50px;
margin: 0 9px;
border-left: 1px solid black;
border-right: 1px solid black;
}

.navbarbutton {
	color:#1acbae;
}